body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Helvetica;
  background-color: #fafafa;
}

.table {
  margin: 20px;
  border: 1px solid #bebebe;
}

.table thead {
  background-color: #eaeaea;
}

.table tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.table th,
.table td {
  padding: 5px;
}

.render-button {
  width: 80px;
  height: 30px;
  border-radius: 3px;
  background-color: #4bcb7c;
  outline: none;
}